.login-container {
  background-image: url("../../assets/images/cat-5628953_1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  .login-card {
    width: 300px;
    margin-top: 100px;
    margin-left: 50px;
  }
}
